#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(201,226,228,1) 35%, rgba(0,212,255,1) 100%);
  text-align: center;
  border-radius: 10px ;
}
